In [9]:
#conditionals and booleans
language='Java'
if language == 'Java':
    print('Language is Java')
else:
    print('Language is not java')

Language is Java

In [11]:
language='java'
if language=='Python':
    print('Language is python')
elif(language=='java'):
    print('language is java')
else:
    print('no match')

language is java

In [13]:
#boolean operations- and,or, not
user='Admin'
logged_in=True
if user=='Admin' and 'logged_in':
    print('Admin page')
else:
    print('Bad creads')

Admin page

In [15]:
##Loops and iterations
nums=[1,2,3,4,5]
for num in nums:
    print(num)

1
2
3
4
5

In [17]:
#use of break statement
for num in nums:
    if(num==3):
        print('Found!')
        break;
    print(num)

1
2
Found!

In [25]:
#use of continue statement
for num in nums:
    if(num==3):
        print('found!')
        continue;
    print(num)

1
2
found!
4
5

In [27]:
#nested loop
for num in nums:
    for letter in 'abc':
        print(num,letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [29]:
#for printing something in range, a builtin function range is there
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
x=0
while True:
    if(x==5):
        break
    print(x)
    x=x+1

0
1
2
3
4

In [38]:
#if stuck in infinite loop,press ctrl+c to stop that

In [40]:
#break,continue,pass statement in python
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [42]:
#continue
for i in range(1,11):
    if i==5:
        continue
    print(i)
    print('hello world')

1
hello world
2
hello world
3
hello world
4
hello world
6
hello world
7
hello world
8
hello world
9
hello world
10
hello world

In [44]:
#pass statement
#when we are not sure what to write inside the loop or unsure about the code,we can make use of pass fucntion
for i in range(1,11):
    pass

In [48]:
#comprehensions=easy way to create something
nums=[1,2,3,4,5,6,7,8,9]
my_list=[]
for n in nums:
    my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
#or
my_list=[n for n in nums]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
#for getting n square
nums=[1,2,3,4,5,6,7,8,9]
my_new=[]
for m in nums:
    my_new.append(m*m)
print(my_new)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
my_new=[m*m for m in nums]
print(my_new)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
#printing only those numbers which are even
my_list=[]
for n in nums:
    if(n%2==0):
        my_list.append(n)
print(my_list)

[2, 4, 6, 8]

In [71]:
#other method
my_lists=[n for n in nums if n%2==0]
print(my_lists)

[2, 4, 6, 8]

In [77]:
#other method
my_list=filter(lambda n: n%2==0,nums)
print(list(my_list))

[2, 4, 6, 8]

In [79]:
# now if i want a(letter,num) pair for each letter in 'abcd' and number in '0123'
my_list=[]
for letter in 'abcd':
    for num in range(4):
        my_list.append((letter,num))
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [81]:
my_listing=[(letter,num) for letter in 'abcd' for num in range(4)]
print(my_listing)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [93]:
#this comprehension can be done with dictionary as well as set also
names=['Bruce','Clark','Peter','Logan','wade']
heroes=['Batman','Superman','Spiderman','Wolverine','Deadpool']
print(list(zip(names,heroes)))

[('Bruce', 'Batman'), ('Clark', 'Superman'), ('Peter', 'Spiderman'), ('Logan', 'Wolverine'), ('wade', 'Deadpool')]

In [95]:
#other way using for loop
my_dict={}
for name,hero in zip(names,heroes):
    my_dict[name]=hero
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'wade': 'Deadpool'}

In [101]:
my_dict={name: hero for name,hero in zip (names,heroes) if name!='Peter'}
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Logan': 'Wolverine', 'wade': 'Deadpool'}

In [103]:
#set basically provides all the unique values
nums=[1,2,3,4,1,2,36,7,8,9,6,8]
my_set=set()
for n in nums:
    my_set.add(n);
print(my_set)

{1, 2, 3, 4, 36, 6, 7, 8, 9}

In [105]:
#for doint it in comprehension
my_set={n for n in nums}
print(my_set)

{1, 2, 3, 4, 36, 6, 7, 8, 9}

In [109]:
#for doing it in generic functions
nums=[1,2,3,4,5,6,7,8,9,10]
def gen_func(nums):
    for n in nums:
        yield n*n
my_gen=gen_func(nums)
for i in my_gen:
    print (i)

1
4
9
16
25
36
49
64
81
100

In [111]:
#or now using generic expression for this
my_gen=(n*n for n in nums)
for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64
81
100