In [1]:
  #TUPLES AND SETS AND DICTIONARIES
#TUPLES
#tuples are immutable. This "(" symbol is used
tuples_1=('His' ,'Math')
print(tuples_1)

('His', 'Math')

In [3]:
print(tuples_1[0])

His

In [5]:
tuples_2=tuples_1
print(tuples_1)
print(tuples_2)

('His', 'Math')
('His', 'Math')

In [15]:
#it will give error bcz they doesnot support remove,append, modify.
#tuples_1[0]=('she')

In [11]:
print(tuples_1)

('His', 'Math')

In [29]:
#for creation of an empty tuple
empty_tuple=()
empty_list=list()

In [17]:
 #SETS
#unordered with no duplicates.'{' bracket is basically used.
is_courses={'his','art'}
print(is_courses)

{'his', 'art'}

In [19]:
print('math' in is_courses)

False

In [21]:
art_courses={'draw','art'}
#for getting common
print(is_courses.intersection(art_courses))

{'art'}

In [23]:
#for getting non common
print(is_courses.difference(art_courses))

{'his'}

In [25]:
#for combining both sets use union
print(is_courses.union(art_courses))

{'his', 'art', 'draw'}

In [27]:
#creation of an empty set
empty_set=set()
#we can't create it like this,{} , it will lead to a dictionary

In [39]:
#       creation of a dictinary
# working with key value pairs
#in dictionary each word is key and definition is value
student={'name':'john','age':25,'courses':['Math','comps']}
print(student)

{'name': 'john', 'age': 25, 'courses': ['Math', 'comps']}

In [43]:
print(student['name'])

john

In [45]:
#we can also access keys using get method, which is better
print(student.get('phone'))

None

In [47]:
print(student.get('phone','not found'))

not found

In [67]:
#for updating any existing value
student['phone']='555-556'
student['name']='Jane'
print(student)

{'name': 'Jane', 'age': 25, 'courses': ['Math', 'comps'], 'phone': '555-556'}

In [71]:
#for updating multiple values,take help of update function
student.update({'name':'Janes','phone':'555-555'})
print(student)

{'name': 'Janes', 'age': 25, 'courses': ['Math', 'comps'], 'phone': '555-555'}

In [75]:
#for deletion of any key
del student['age']

In [77]:
print(student)

{'name': 'Janes', 'courses': ['Math', 'comps'], 'phone': '555-555'}

In [79]:
#length of key
print(len(student))

3

In [81]:
#accessing keys
print(student.keys())

dict_keys(['name', 'courses', 'phone'])

In [83]:
#accessing values
print(student.values())

dict_values(['Janes', ['Math', 'comps'], '555-555'])

In [85]:
#accessing them in pairs
print(student.items())

dict_items([('name', 'Janes'), ('courses', ['Math', 'comps']), ('phone', '555-555')])

In [89]:
#access using loop
for key in student:
    print(key)

name
courses
phone

In [91]:
#for accessing both
for key,value in student.items():
    print(key,value)

name Janes
courses ['Math', 'comps']
phone 555-555